In [1]:
#step-1 install pymongo[srv]

In [6]:
!pip install pymongo[srv]

zsh:1: no matches found: pymongo[srv]

In [6]:
#step-2

In [7]:
!pip install dnspython

Collecting dnspython
  Downloading dnspython-2.2.0-py3-none-any.whl (266 kB)
     |████████████████████████████████| 266 kB 907 kB/s eta 0:00:01
Installing collected packages: dnspython
Successfully installed dnspython-2.2.0

In [100]:
#step-2 copied from mongoDB site 
#Connect to Cluster45

import pymongo

client = pymongo.MongoClient("mongodb+srv://Gyana_mongodb:1234@cluster45.ooycx.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test

In [101]:
print(db)

Database(MongoClient(host=['cluster45-shard-00-01.ooycx.mongodb.net:27017', 'cluster45-shard-00-02.ooycx.mongodb.net:27017', 'cluster45-shard-00-00.ooycx.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-aycysm-shard-0', tls=True), 'test')

In [10]:
db1=client.test1

In [11]:
db2=client['gyan']

In [98]:
client.list_database_names()

['gyan', 'admin', 'local']

# "collection" in mongodb is same as table in sql

in case of table--we need to give the scema name
but in case of mongodb, table is named as collection that we try to create

# "document" in mongodb same as Records/row in sql

one single record or multiple records is called as document in mongodb

In [13]:
#Mysql.          MongoDb
#1. DB.           DB
#2.table.         collection
#3.Record/row     Document

# create Database

In [14]:
db2=client['gyan']

# list of DBs

In [86]:
client.list_database_names()

['gyan', 'admin', 'local']

# create collection

In [15]:
col1=db2['ineuron_collection']

# list of collections

In [103]:
collection_list=db2.list_collection_names()
collection_list

['ineuron_collection']

# DB exist or not

In [110]:
# let's verify whether we have our database in the list or not 
# we'll use the following function:-

def checkExistence_DB(DB_NAME, client):
    """It verifies the existence of DB"""
    DBlist = client.list_database_names()
    if DB_NAME in DBlist:
        print(f"DB: '{DB_NAME}' exists")
        return True
    print(f"DB: '{DB_NAME}' not yet present OR no collection is present in the DB")
    return False


_ = checkExistence_DB(DB_NAME='gyan', client=client)

DB: 'gyan' exists

# collection exists or not

In [109]:
# let's verify whether we have our database in the list or not 
# we'll use the following function:-

def checkExistence_COL(COLLECTION_NAME, DB_NAME, db):
    """It verifies the existence of collection name in a database"""
    collection_list = db.list_collection_names()
    
    if COLLECTION_NAME in collection_list:
        print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' exists")
        return True
    
    print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' does not exists OR \n\
    no documents are present in the collection")
    return False


check= checkExistence_COL(COLLECTION_NAME="ineuron_collection", DB_NAME="gyan", db=db2)

Collection:'ineuron_collection' in Database:'gyan' exists

In [20]:
dict1 = {
    "name":"Gyanajyoti",
    "email_id":"gyana.dpu@gmail.com",
    "product":["one neuron","tech neuron","drone"],
    "company":"ineuron intelligence private limited"
}

# insert into collection

In [17]:
col1.insert_one(dict1)

# sql db vs mongodb


1.in sql DB we cant insert a list of data in a single column.
ex:"product" column has ["one neuron","tech neuron","drone"].This cant be insert in mysql, but can be done in mongodb.


2.mongodb is independent of schema.

3.can insert unstructured data in mongodb

In [19]:
dict2 = {
    "id":111111111,
    "name":"ABC",
    "email_id":"xxx.yyy@gmail.com",
    "product":["abc","tech abc","xyz"],
    "company":"hasa private limited"
}

In [21]:
col1.insert_one(dict2)

In [23]:
#with own id-- "_id"

dict3 = {
    "_id":122233333,
    "name":"xyiuh",
    "email_id":"qwqwq.wqwwq@gmail.com",
    "product":[" bhsbjhsdk","kqwjk neuron","jkqwjkw","hghwj"],
    "company":"kjkljl intelligence private limited"
}

In [24]:
col1.insert_one(dict3)

# how to store a list of records

In [25]:
list1=[
    {"name":"Gyan",
     "age":29,
     "company":"oracle",
     "location":"BBSR"
    },
     {"name":"Sid",
     "age":30,
     "company":"TCS",
     "location":"UK"
    },
     {"name":"motu",
     "age":29,
     "company":"capgemini",
     "location":"BBSR"
    },
     {"name":"chandan",
     "age":30,
     "company":"TCS",
     "location":"BBSR"
    }
]

In [26]:
col1.insert_many(list1)

In [27]:
list2=[
    {"name":"Gyanajyoti",
    "email_id":"gyana.dpu@gmail.com",
    "product":["one neuron","tech neuron","drone"],
    "company":"ineuron intelligence private limited"
    },
    {"name":"Gyanajyoti",
    "email_id":"gyana.dpu@gmail.com",
    "product":["one neuron","tech neuron","drone"],
    "company":"ineuron intelligence private limited"
    },
    {"name":"Gyanajyoti",
    "email_id":"gyana.dpu@gmail.com",
    "product":["one neuron","tech neuron","drone"],
    "company":"ineuron intelligence private limited"
    },
    {"name":"Gyanajyoti",
    "email_id":"gyana.dpu@gmail.com",
    "product":["one neuron","tech neuron","drone"],
    "company":"ineuron intelligence private limited"
    },
    {"name":"Gyanajyoti",
    "email_id":"gyana.dpu@gmail.com",
    "product":["one neuron","tech neuron","drone"],
    "company":"ineuron intelligence private limited"
    }
]

In [28]:
col1.insert_many(list2)

# inserted ids

In [119]:
#step-1
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program',
    "test" : "ffsdfsffsf",
     "complex" : [{"name" : "sudhanshu","list" : [554,545,454,54,5,4]},{"email_id" :"sudhanshu@dffsf"},{"phone_no":345345345353},[4,54,534,5,45,5,45,4]]

    }]
    
data = col1.insert_many(list_of_records)

print(data)

<pymongo.results.InsertManyResult object at 0x7faaa892eb80>

In [120]:
# step-2 lets print he unique ID that of the record that we have inserted -
inserted_IDs = data.inserted_ids

for idx, unique_ids in enumerate(inserted_IDs):
    print(f"{idx}. {unique_ids}")

0. 6214badc52408533551b5e62
1. 6214badc52408533551b5e63
2. 6214badc52408533551b5e64

# override the default unique Id by giving a user defined

In [122]:
col2 = db2["iNeuron_Faculties"]

list_of_records_user_defined_id = [
    {"_id": "6",
    "companyName": "iNeuron",
    "Faculty": "Sudhanshu Kumar"},
    {"_id": "8",
    "companyName": "iNeuron",
    "Faculty": "Virat Sagar"},
]

faculties_record = col2.insert_many(list_of_records_user_defined_id)

In [125]:
inserted_IDs = faculties_record.inserted_ids

for idx, unique_ids in enumerate(inserted_IDs):
    print(f"{idx}. {unique_ids}")

0. 6
1. 8

# operations

In [31]:
#1.find()--select * from table

In [29]:
col1.find()

In [83]:
for i in col1.find():
    print(i)

{'_id': ObjectId('621133f652408533551b5e57'), 'id': 111111111, 'name': 'ABC', 'email_id': 'xxx.yyy@gmail.com', 'product': ['abc', 'tech abc', 'xyz'], 'company': 'hasa private limited'}
{'_id': 122233333, 'name': 'xyiuh', 'email_id': 'qwqwq.wqwwq@gmail.com', 'product': [' bhsbjhsdk', 'kqwjk neuron', 'jkqwjkw', 'hghwj'], 'company': 'kjkljl intelligence private limited'}
{'_id': ObjectId('6211359c52408533551b5e58'), 'name': 'Gyan', 'age': 29, 'company': 'oracle', 'location': 'BBSR'}
{'_id': ObjectId('6211359c52408533551b5e59'), 'name': 'Sid', 'age': 400, 'company': 'TCS', 'location': 'UK'}
{'_id': ObjectId('6211359c52408533551b5e5a'), 'name': 'Swadhin', 'age': 29, 'company': 'capgemini', 'location': 'BBSR'}
{'_id': ObjectId('6211359c52408533551b5e5b'), 'name': 'chandan', 'age': 400, 'company': 'TCS', 'location': 'BBSR'}

In [38]:
#2.filter opeartion

In [105]:
col1.find({"_id":{"$oid":"6211359c52408533551b5e5b"}})

In [33]:
col1.find({"name":"gyan"})

In [37]:
for i in col1.find({"name":"Gyan"}):
    print(i)

{'_id': ObjectId('6211359c52408533551b5e58'), 'name': 'Gyan', 'age': 29, 'company': 'oracle', 'location': 'BBSR'}

In [ ]:
#3.filter '$in'

In [39]:
col1.find({"name":{"$in":['Gyan','Sid']}})

In [40]:
for i in col1.find({"name":{"$in":['Gyan','Sid']}}):
    print(i)

{'_id': ObjectId('6211359c52408533551b5e58'), 'name': 'Gyan', 'age': 29, 'company': 'oracle', 'location': 'BBSR'}
{'_id': ObjectId('6211359c52408533551b5e59'), 'name': 'Sid', 'age': 30, 'company': 'TCS', 'location': 'UK'}

In [47]:
col1.find({"name":{"$in":['Gyan','Sid']},"location":{"$in":['BBSR']}})

In [48]:
for i in col1.find({"name":{"$in":['Gyan','Sid']},"location":{"$in":['BBSR']}}):
    print(i)

{'_id': ObjectId('6211359c52408533551b5e58'), 'name': 'Gyan', 'age': 29, 'company': 'oracle', 'location': 'BBSR'}

In [49]:
#4.

In [51]:
col1.find_one()

{'_id': ObjectId('6211313652408533551b5e56'),
 'name': 'Gyanajyoti',
 'email_id': 'gyana.dpu@gmail.com',
 'product': ['one neuron', 'tech neuron', 'drone'],
 'company': 'ineuron intelligence private limited'}

In [54]:
#4.greater than/equal ,lesser than/eqaul

In [53]:
for i in col1.find({'age':{"$gt":25}}):
    print(i)

{'_id': ObjectId('6211359c52408533551b5e58'), 'name': 'Gyan', 'age': 29, 'company': 'oracle', 'location': 'BBSR'}
{'_id': ObjectId('6211359c52408533551b5e59'), 'name': 'Sid', 'age': 30, 'company': 'TCS', 'location': 'UK'}
{'_id': ObjectId('6211359c52408533551b5e5a'), 'name': 'motu', 'age': 29, 'company': 'capgemini', 'location': 'BBSR'}
{'_id': ObjectId('6211359c52408533551b5e5b'), 'name': 'chandan', 'age': 30, 'company': 'TCS', 'location': 'BBSR'}

In [ ]:
for i in col1.find({'age':{"$gt":25}}):
    print(i)

In [57]:
for i in col1.find({'age':{"$gte":30}}):
    print(i)

{'_id': ObjectId('6211359c52408533551b5e59'), 'name': 'Sid', 'age': 30, 'company': 'TCS', 'location': 'UK'}
{'_id': ObjectId('6211359c52408533551b5e5b'), 'name': 'chandan', 'age': 30, 'company': 'TCS', 'location': 'BBSR'}

In [56]:
for i in col1.find({'age':{"$lte":30}}):
    print(i)

{'_id': ObjectId('6211359c52408533551b5e58'), 'name': 'Gyan', 'age': 29, 'company': 'oracle', 'location': 'BBSR'}
{'_id': ObjectId('6211359c52408533551b5e59'), 'name': 'Sid', 'age': 30, 'company': 'TCS', 'location': 'UK'}
{'_id': ObjectId('6211359c52408533551b5e5a'), 'name': 'motu', 'age': 29, 'company': 'capgemini', 'location': 'BBSR'}
{'_id': ObjectId('6211359c52408533551b5e5b'), 'name': 'chandan', 'age': 30, 'company': 'TCS', 'location': 'BBSR'}

In [ ]:
#not greaer than/not lesser than---$not

In [64]:
for i in col1.find({'age':{'$not':{'$gt':29}}}):
    print(i)

{'_id': ObjectId('6211313652408533551b5e56'), 'name': 'Gyanajyoti', 'email_id': 'gyana.dpu@gmail.com', 'product': ['one neuron', 'tech neuron', 'drone'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('621133f652408533551b5e57'), 'id': 111111111, 'name': 'ABC', 'email_id': 'xxx.yyy@gmail.com', 'product': ['abc', 'tech abc', 'xyz'], 'company': 'hasa private limited'}
{'_id': 122233333, 'name': 'xyiuh', 'email_id': 'qwqwq.wqwwq@gmail.com', 'product': [' bhsbjhsdk', 'kqwjk neuron', 'jkqwjkw', 'hghwj'], 'company': 'kjkljl intelligence private limited'}
{'_id': ObjectId('6211359c52408533551b5e58'), 'name': 'Gyan', 'age': 29, 'company': 'oracle', 'location': 'BBSR'}
{'_id': ObjectId('6211359c52408533551b5e5a'), 'name': 'Swadhin', 'age': 29, 'company': 'capgemini', 'location': 'BBSR'}
{'_id': ObjectId('6211368152408533551b5e5c'), 'name': 'Gyanajyoti', 'email_id': 'gyana.dpu@gmail.com', 'product': ['one neuron', 'tech neuron', 'drone'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('6211368152408533551b5e5d'), 'name': 'Gyanajyoti', 'email_id': 'gyana.dpu@gmail.com', 'product': ['one neuron', 'tech neuron', 'drone'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('6211368152408533551b5e5e'), 'name': 'Gyanajyoti', 'email_id': 'gyana.dpu@gmail.com', 'product': ['one neuron', 'tech neuron', 'drone'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('6211368152408533551b5e5f'), 'name': 'Gyanajyoti', 'email_id': 'gyana.dpu@gmail.com', 'product': ['one neuron', 'tech neuron', 'drone'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('6211368152408533551b5e60'), 'name': 'Gyanajyoti', 'email_id': 'gyana.dpu@gmail.com', 'product': ['one neuron', 'tech neuron', 'drone'], 'company': 'ineuron intelligence private limited'}

In [65]:
for i in col1.find({'age':{'$not':{'$gte':29}}}):
    print(i)

{'_id': ObjectId('6211313652408533551b5e56'), 'name': 'Gyanajyoti', 'email_id': 'gyana.dpu@gmail.com', 'product': ['one neuron', 'tech neuron', 'drone'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('621133f652408533551b5e57'), 'id': 111111111, 'name': 'ABC', 'email_id': 'xxx.yyy@gmail.com', 'product': ['abc', 'tech abc', 'xyz'], 'company': 'hasa private limited'}
{'_id': 122233333, 'name': 'xyiuh', 'email_id': 'qwqwq.wqwwq@gmail.com', 'product': [' bhsbjhsdk', 'kqwjk neuron', 'jkqwjkw', 'hghwj'], 'company': 'kjkljl intelligence private limited'}
{'_id': ObjectId('6211368152408533551b5e5c'), 'name': 'Gyanajyoti', 'email_id': 'gyana.dpu@gmail.com', 'product': ['one neuron', 'tech neuron', 'drone'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('6211368152408533551b5e5d'), 'name': 'Gyanajyoti', 'email_id': 'gyana.dpu@gmail.com', 'product': ['one neuron', 'tech neuron', 'drone'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('6211368152408533551b5e5e'), 'name': 'Gyanajyoti', 'email_id': 'gyana.dpu@gmail.com', 'product': ['one neuron', 'tech neuron', 'drone'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('6211368152408533551b5e5f'), 'name': 'Gyanajyoti', 'email_id': 'gyana.dpu@gmail.com', 'product': ['one neuron', 'tech neuron', 'drone'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('6211368152408533551b5e60'), 'name': 'Gyanajyoti', 'email_id': 'gyana.dpu@gmail.com', 'product': ['one neuron', 'tech neuron', 'drone'], 'company': 'ineuron intelligence private limited'}

# 5.update---update_one,update_many--$set

In [59]:
for i in col1.find():
    print(i)

{'_id': ObjectId('6211313652408533551b5e56'), 'name': 'Gyanajyoti', 'email_id': 'gyana.dpu@gmail.com', 'product': ['one neuron', 'tech neuron', 'drone'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('621133f652408533551b5e57'), 'id': 111111111, 'name': 'ABC', 'email_id': 'xxx.yyy@gmail.com', 'product': ['abc', 'tech abc', 'xyz'], 'company': 'hasa private limited'}
{'_id': 122233333, 'name': 'xyiuh', 'email_id': 'qwqwq.wqwwq@gmail.com', 'product': [' bhsbjhsdk', 'kqwjk neuron', 'jkqwjkw', 'hghwj'], 'company': 'kjkljl intelligence private limited'}
{'_id': ObjectId('6211359c52408533551b5e58'), 'name': 'Gyan', 'age': 29, 'company': 'oracle', 'location': 'BBSR'}
{'_id': ObjectId('6211359c52408533551b5e59'), 'name': 'Sid', 'age': 30, 'company': 'TCS', 'location': 'UK'}
{'_id': ObjectId('6211359c52408533551b5e5a'), 'name': 'motu', 'age': 29, 'company': 'capgemini', 'location': 'BBSR'}
{'_id': ObjectId('6211359c52408533551b5e5b'), 'name': 'chandan', 'age': 30, 'company': 'TCS', 'location': 'BBSR'}
{'_id': ObjectId('6211368152408533551b5e5c'), 'name': 'Gyanajyoti', 'email_id': 'gyana.dpu@gmail.com', 'product': ['one neuron', 'tech neuron', 'drone'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('6211368152408533551b5e5d'), 'name': 'Gyanajyoti', 'email_id': 'gyana.dpu@gmail.com', 'product': ['one neuron', 'tech neuron', 'drone'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('6211368152408533551b5e5e'), 'name': 'Gyanajyoti', 'email_id': 'gyana.dpu@gmail.com', 'product': ['one neuron', 'tech neuron', 'drone'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('6211368152408533551b5e5f'), 'name': 'Gyanajyoti', 'email_id': 'gyana.dpu@gmail.com', 'product': ['one neuron', 'tech neuron', 'drone'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('6211368152408533551b5e60'), 'name': 'Gyanajyoti', 'email_id': 'gyana.dpu@gmail.com', 'product': ['one neuron', 'tech neuron', 'drone'], 'company': 'ineuron intelligence private limited'}

In [61]:
col1.update_many({'name':'motu'},{'$set':{'name':'Swadhin'}})

In [135]:
present_data={'name':'Sid'}
new_data={'$set':{'name':'Sidhartha'}}

col1.update_many(present_data,new_data)

# 6.limited records---limit()

In [63]:
for i in col1.find().limit(3):
    print(i)

{'_id': ObjectId('6211313652408533551b5e56'), 'name': 'Gyanajyoti', 'email_id': 'gyana.dpu@gmail.com', 'product': ['one neuron', 'tech neuron', 'drone'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('621133f652408533551b5e57'), 'id': 111111111, 'name': 'ABC', 'email_id': 'xxx.yyy@gmail.com', 'product': ['abc', 'tech abc', 'xyz'], 'company': 'hasa private limited'}
{'_id': 122233333, 'name': 'xyiuh', 'email_id': 'qwqwq.wqwwq@gmail.com', 'product': [' bhsbjhsdk', 'kqwjk neuron', 'jkqwjkw', 'hghwj'], 'company': 'kjkljl intelligence private limited'}

In [ ]:
#7.update another key value based on another key

In [66]:
col1.find_one_and_update({'name':'chandan'},{'$set':{'age':31}})

{'_id': ObjectId('6211359c52408533551b5e5b'),
 'name': 'chandan',
 'age': 30,
 'company': 'TCS',
 'location': 'BBSR'}

In [68]:
for i in col1.find({'age':31}):
    print(i)

{'_id': ObjectId('6211359c52408533551b5e5b'), 'name': 'chandan', 'age': 31, 'company': 'TCS', 'location': 'BBSR'}

In [69]:
#update_many

In [72]:
col1.update_many({'age':{'$gt':29}},{'$set':{'age':400}})

In [73]:
for i in col1.find({'age':400}):
    print(i)

{'_id': ObjectId('6211359c52408533551b5e59'), 'name': 'Sid', 'age': 400, 'company': 'TCS', 'location': 'UK'}
{'_id': ObjectId('6211359c52408533551b5e5b'), 'name': 'chandan', 'age': 400, 'company': 'TCS', 'location': 'BBSR'}

# delete_many

In [75]:
col1.delete_many({'name':'Gyanajyoti'})

In [76]:
for i in col1.find({'name':'Gyanajyoti'}):
    print(i)

In [77]:
for i in col1.find():
    print(i)

{'_id': ObjectId('621133f652408533551b5e57'), 'id': 111111111, 'name': 'ABC', 'email_id': 'xxx.yyy@gmail.com', 'product': ['abc', 'tech abc', 'xyz'], 'company': 'hasa private limited'}
{'_id': 122233333, 'name': 'xyiuh', 'email_id': 'qwqwq.wqwwq@gmail.com', 'product': [' bhsbjhsdk', 'kqwjk neuron', 'jkqwjkw', 'hghwj'], 'company': 'kjkljl intelligence private limited'}
{'_id': ObjectId('6211359c52408533551b5e58'), 'name': 'Gyan', 'age': 29, 'company': 'oracle', 'location': 'BBSR'}
{'_id': ObjectId('6211359c52408533551b5e59'), 'name': 'Sid', 'age': 400, 'company': 'TCS', 'location': 'UK'}
{'_id': ObjectId('6211359c52408533551b5e5a'), 'name': 'Swadhin', 'age': 29, 'company': 'capgemini', 'location': 'BBSR'}
{'_id': ObjectId('6211359c52408533551b5e5b'), 'name': 'chandan', 'age': 400, 'company': 'TCS', 'location': 'BBSR'}

# drop collection

In [130]:
col2=db2['col_test']

list_new=[
   { "item": "journal", "qty": 25, "size": { "h": 14, "w": 21, "uom": "cm" }, "status": "A" },
   { "item": "notebook", "qty": 50, "size": { "h": 8.5, "w": 11, "uom": "in" }, "status": "A" },
   { "item": "paper", "qty": 100, "size": { "h": 8.5, "w": 11, "uom": "in" }, "status": "D" },
   { "item": "planner", "qty": 75, "size": { "h": 22.85, "w": 30, "uom": "cm" }, "status": "D" },
   { "item": "postcard", "qty": 45, "size": { "h": 10, "w": 15.25, "uom": "cm" }, "status": "A" }
    ]

data=col2.insert_many(list_new)

In [131]:
check= checkExistence_COL(COLLECTION_NAME="col_test", DB_NAME="gyan", db=db2)

Collection:'col_test' in Database:'gyan' exists

In [132]:
#drop collection

In [133]:
col2.drop()

In [134]:
check= checkExistence_COL(COLLECTION_NAME="col_test", DB_NAME="gyan", db=db2)

Collection:'col_test' in Database:'gyan' does not exists OR
    no documents are present in the collection

In [2]:
s='aakaash'

s.replace('a','@')

'@@k@@sh'

In [3]:
s

'aakaash'

In [4]:
s.replace('a','@',2)

'@@kaash'

In [7]:
s

'aakaash'

In [9]:
s.replace('a','@',3)

'@@k@ash'

In [10]:
a='restart'

In [11]:
a.replace('r','$',2).replace('$','r',1)

'resta$t'

In [12]:
s

'aakaash'

In [13]:
s.replace('a','@').replace('@','a',3)

'aaka@sh'